<div>
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
<div class="w-full max-w-xs">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/users/sign_in" method="post">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="user_email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="user_email" type="text" placeholder="Email">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="user_password">
        Password
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="user_password" type="password" placeholder="******************">
    </div>
    <div class="flex items-center justify-between">
      <input class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Sign in">
    </div>
    <div>
      <a class="inline-block align-baseline font-bold text-sm text-indigo-500 hover:text-indigo-700" href="/users/password/new">
          Forgot Password?
        </a>
        <a class="inline-block align-baseline font-bold text-sm text-indigo-500 hover:text-indigo-700" href="/users/sign_up">
        Sign up
        </a>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
  
</div>